* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    color: white;
}

@media (max-width:768px) {

    .image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 19%;
    right: 1%;
    box-shadow: 0 0 700px 15px #fcfcfc;
    transform: rotate(-20deg);
    z-index: -1;
}

   .mobile-3d {
        position: absolute;
        top: 0%;
        right: -9%;
        margin-right: 14%;
        width: 80%;
        height: 300px;
        z-index: -1;
    }

    .heading {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 4.6%;
        top: 35%;
        text-align: center;
    }

    .heading h1 {
        color: rgb(14, 92, 180);
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 1.8rem;
    }

    .heading h3 {
        font-weight: 700;
        font-size: 16px;
    }

    .heading p {
        font-weight: 120;
        letter-spacing: 2px;
        font-size: 0.6rem;
    }

    .tech-line {
        top: 49%;
        position: absolute;
        width: 100%;
        height: 6px;
        background: linear-gradient(to right, #0e5cb4, #929191);
    }

    .features-content {
        position: absolute;
        top: 51%;
        width: 90%;
        height: 25%;
        text-align: center;
        border: 1px solid #0e5cb4;
        margin-left: 5%;
        border-radius: 10px;
    }

    .features h1 {
        color: #0e5cb4;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        position: absolute;
        top: 10px;
        left: 4%;
    }

    .automation {
        top: 30px;
        left: 4%;
        letter-spacing: 1px;
        font-size: 1rem;
        position: absolute;
    }

    .automation h3 {
        top: 0px;
        font-size: 1rem;
        font-weight: 700;
    }

    .automation p {
        font-size: 0.6rem;
        font-weight: 300;
    }



}